---
- name: Load a variable file based on the OS type.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "defaults.yml"

- name: Flag the system for reconfiguration
  file:
    path: './unconfigured'
    state: touch

- name: Fetch SSH keys to be removed
  find:
    paths: "/etc/ssh"
    patterns: "ssh_host_*"
    file_type: "file"
  register: ssh_key_files

- name: remove ssh host keys
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ ssh_key_files.files }}"

- name: reset hostname on RHEL/CentOS <= 6
  lineinfile:
    dest: "{{ seal_hostname_file_path }}"
    regexp: '^HOSTNAME='
    line: 'HOSTNAME=localhost.localdomain'
    unsafe_writes: "{{ seal_run_containerized }}"
  when:
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version|int <= 6
  tags:
    - reset_hostname

- name: reset hostname
  copy:
    dest: "{{ seal_hostname_file_path }}"
    content: 'localhost.localdomain'
    unsafe_writes: "{{ seal_run_containerized }}"
  when: (ansible_os_family == "RedHat" and
         ansible_distribution_major_version|int > 6) or
         ansible_os_family == "Debian"
  tags:
    - reset_hostname

- block:
    - name: Fetch udev rules to be removed
      find:
        paths: "/etc/udev/rules.d"
        patterns: "70-*.rules"
        file_type: "file"
      register: udev_rules_files

    - name: remove UDEV rules
      file:
        path: "{{ item.path }}"
        state: absent
      with_items: "{{ udev_rules_files.files }}"

    - name: Fetch ifcfg files to be modified
      find:
        paths: "/etc/sysconfig/network-scripts"
        patterns: "ifcfg-*"
        file_type: "file"
      register: ifcfg_files

    - name: remove HWADDR from ifcfg-* on RHEL/Centos
      lineinfile:
        dest: "{{ item.path }}"  # 'path' is new in 2.3
        state: absent
        regexp: "^HWADDR=.*"
      with_items: "{{ ifcfg_files.files }}"

    - name: remove UUID from ifcfg-* on RHEL/Centos
      lineinfile:
        dest: "{{ item.path }}"  # 'path' is new in 2.3
        state: absent
        regexp: "^UUID=.*"
      with_items: "{{ ifcfg_files.files }}"

  when: ansible_os_family == "RedHat"

- name: remove hwaddr information from network interfaces on Ubuntu/Debian
  lineinfile:
    dest: "/etc/network/interfaces"  # 'path' is new in 2.3
    state: absent
    regexp: "^[ \t]*hwaddress.*"
  when: ansible_os_family == 'Debian'


- name: Fetch logs to be removed
  find:
    paths: "/var/log"
    patterns: "*"
    file_type: "file"
    recurse: yes
  register: log_files

- name: remove log files and dir from /var/log
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ log_files.files }}"
  tags:
    - delete_logs

- name: remove content from /etc/machine-id file
  shell: "> /etc/machine-id"

- name: Poweroff host
  shell: "shutdown -t sec 5"
  async: 1
  poll: 0
  ignore_errors: yes
  tags:
    - poweroff
