---
- name: Load a variable file based on the OS type.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "defaults.yml"

- name: Flag the system for reconfiguration
  file:
    path: './unconfigured'
    state: touch

- name: remove ssh host keys
  file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - /etc/ssh/ssh_host_*

- name: reset hostname on RHEL/CentOS <= 6
  lineinfile:
    dest: "{{ seal_hostname_file_path }}"
    regexp: '^HOSTNAME='
    line: 'HOSTNAME=localhost.localdomain'
    unsafe_writes: "{{ seal_run_containerized }}"
  when:
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version|int <= 6
  tags:
    - reset_hostname

- name: reset hostname
  copy:
    dest: "{{ seal_hostname_file_path }}"
    content: 'localhost.localdomain'
    unsafe_writes: "{{ seal_run_containerized }}"
  when: (ansible_os_family == "RedHat" and
         ansible_distribution_major_version|int > 6) or
         ansible_os_family == "Debian"
  tags:
    - reset_hostname

- name: remove UDEV rules
  file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - /etc/udev/rules.d/70-*

- name: remove HWADDR from ifcfg-* on RHEL/Centos
  lineinfile:
    dest: "{{ item }}"  # 'path' is new in 2.3
    state: absent
    regexp: "^HWADDR=.*"
  with_fileglob:
    - /etc/sysconfig/network-scripts/ifcfg-*
  when: ansible_os_family == "RedHat"

- name: remove UUID from ifcfg-* on RHEL/Centos
  lineinfile:
    dest: "{{ item }}"  # 'path' is new in 2.3
    state: absent
    regexp: "^UUID=.*"
  with_fileglob:
    - /etc/sysconfig/network-scripts/ifcfg-*
  when: ansible_os_family == "RedHat"

- name: remove hwaddr information from network interfaces on Ubuntu/Debian
  lineinfile:
    dest: "/etc/network/interfaces"  # 'path' is new in 2.3
    state: absent
    regexp: "^[ \t]*hwaddress.*"
  when: ansible_os_family == 'Debian'

- name: remove log files and dir from /var/log
  file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - /var/log/*
  tags:
    - delete_logs

- name: Poweroff host
  shell: "shutdown -t sec 5"
  async: 1
  poll: 0
  ignore_errors: yes
  tags:
    - poweroff
